*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  .bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

}
 
.navbar{
  display: flex;
  align-items: center;
  padding: 20px;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul{
  display: inline-block;
  list-style: none;
}
nav ul li{
  display: inline-block;
  margin-right: 20px;
}
a{
  text-decoration: none;
  color: #FFFFE0;
}
p{
  color: #FFFFE0;
}

.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2{
  flex-basis: 50%;
  min-width: 300px;
}

.header .row .col-2{
  flex-basis:auto;
  min-width: 300px;
  padding: 0 40px;
}



.col-2 img{
  max-width: 100%;
}


.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 10px 0px;
  color: #FFFFE0;
}
.btn{
  display: inline-block;
  background: #f0c14b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.3s;
}

.btn:hover{
  background: #fff70072;
}

.btn{
  background: #f0c14b;
  color: #000;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  font-weight: bold;
}

.header{
  background: radial-gradient(#000000, #282222);
}

.header .row{ 
  margin-top: -20px;
}

/*----categories----*/
.categories{
  margin: 70px 0;
}
.col-3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img{
  width: 100%;
}
.small-container{
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

/*----best sellers----*/
.col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
}

.col-4 img{
  width: 100%;
}

.title{
  text-align: center;
  margin: 0 auto 65px;
  position: relative;
  line-height: 60px;
  color: #000000;
}

.title::after{
  content: '';
  width: 80px;
  height: 5px;
  border-radius: 5px;
  background: #f0c14b;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

h4{
  color: #000000;
  font-weight: normal;
}

.col-4 p{
  font-size: 14px;
  color: #000000;
}

.rating {
  color: #f7b308;
}

.col-4:hover{
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
}

/*----offer section-----*/
.offer{
  background: radial-gradient(#f40505, #220000);
  margin-top: 80px;
  padding: 30px 0;
}
.col-2 .offer-img{
  padding: 50px;
}
small{
  color: #fff;
}

/*----testimonials----*/
.testimonials{
  padding-top: 100px;
  padding-bottom: 100px;
}

.testimonials .col-3{
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.2);
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}

.testimonials .col-3 img{
  width: 50px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.testimonials .col-3:hover{
  transform: translateY(-10px);
}

.fa-quote-left{
  color: #ff8800;
  font-size: 30px;
}

.col-3 p{
  font-size: 12px;
  margin: 12px 0;
  color: #777;
}

.testimonials .col-3 h3{
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

/* footer----------- */

.footer{
  background: #000000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer p{
  color: #8a8a8a;
}

.footer h3{
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1, .footer .col-2, .footer .col-3, .footer .col-4{
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1{
  flex-basis: 30%;
}

.footer-col-2{
  flex: 1;
  text-align: center;
}

.footer-col-2 p{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
  text-align: center;
}

.footer-col-2 img{
  width: 300px;
  margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
  flex-basis: 12%;
  text-align: left;
}
ul{
  list-style: none;
}

.footer hr{
  border: none;
  background: #b5b5b5;
  border-top: 1px solid #555;
  height: 1px;
  margin: 20px 0;
}


.app-logo img{
  width: 40px;
  height: 40px;
}

.app-logo img:hover {
    transform: translateY(-2px) scale(1.05); 
    cursor: pointer;
}

.copyright{
  text-align: center;
}

.menu-icon{
  width: 28px;
  margin-left: 20px;
  display: none;
}





/* menu */
@media only screen and (max-width: 800px){
  nav ul{
    position: absolute;
    top: 70px;
    left: 0;
    background: #ffffff9e;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li{
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a{
    color: #000000;
  }
  .menu-icon{
    display: block;
    cursor: pointer;
  }
}

/* all products */
.row-2{
  justify-content: space-between;
  margin: 100px auto 50px;
}

/* 600 less */
@media only screen and (max-width: 600px){
  .row{
    text-align: center;
  }
  .col-2, .col-3, .col-4{
    flex-basis: 100%;
  }

}




